
  .sidebar {
    position: absolute;
    z-index: 10;
    background: white;
    height: 100%;
  }
 
/* Basic editor styles */
.tiptap-editor {
  /* border: 1px solid #ddd; */
  /* border-radius: 4px;
  padding: 1rem;
  min-height: 200px; */
}

.tiptap-editor:focus {
  outline: none;
}

.tiptap{
  padding: 16px;
}
.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.tiptap ul li {
  margin: 0.25rem 0;
}

/* Ordered lists */
.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.tiptap ol li {
  margin: 0.25rem 0;
}

.tiptap ul, .tiptap ol {
  padding: 0 1rem;
}

.tiptap h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1rem 0;
}
.tiptap code {
  background-color: rgba(97, 97, 97, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}